:root {
  --color-1: hsl(226, 100%, 50%); /* Customise */
  --color-2: #fd8b8b; /* Customise */
  --color-black: #353535;
  --color-grey: #eaeaea;
  --color-grey-dark: #8a8a8a;
  --color-grey-light: #f8f8f8;
  --color-white: #ffffff;
  --font-small: 0.75rem;
  --gutter: 1rem;
  --line-height-small: 1.4;
}
